<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/compilers_1_assign/src/compilers_1_assign/test_prog.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="compilers_1_assign.test_prog"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="compilers_1_assign"/>
</launchConfiguration>
